body {
    font-family: Arial;
    margin: 0;
    background: #f2f2f2;
}

header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 40px;
    background: white;
    margin: 30px;
    border-radius: 10px;
}

.btn {
    padding: 12px 22px;
    background: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.produits {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.carte {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.carte img {
    width: 100%;
    border-radius: 10px;
}

.panier {
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
