body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 80px;
    background: white;
    border-radius: 10px;
    margin: 40px;
}

.btn {
    padding: 12px 22px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
